
body{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

input,button{
    padding: 10px;
    margin:10px;
    font-size:16px;
}

#results{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

